@font-face {
  font-family: 'noto_seriflight';
  src: url('css/fonts/notoserif-light.ttf'),
       url('css/fonts/notoserif-light-webfont.woff2') format('woff2'),
       url('css/fonts/notoserif-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.cust-container {
  font-family: 'noto_seriflight'
}